$body-bg: #0f0f0f;
$main-color: #d0a85c;
$second-color: #006d77;

$white: #fff;
$black: #000;
$width: 1200px;
$header-height: 80px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Rowdies", cursive;
